@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Section One Styles */

.section-one{
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-color: blue;
    width: 100%;
    height: 808px;
    margin-bottom: 50px;
}

.section-one-info{
    color: white;
    text-align: right;
    padding: 150px 50px 150px 50%;
}

.section-one-info h1{
    font-size: 65px;
    font-weight: 700;
}

.white-btn{
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
}


/* Section Two Styles */

.section-two{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.section-two-image{
    max-width: 50%;
    padding: 0px 50px;
}

.section-two-info{
    max-width: 50%;
    padding: 0px 50px;
}

.section-two-info h2{
    font-weight: 700;
    font-size: 40px;
}


/* Section Three Styles */

.section-three{
    padding: 0px 50px;
    margin-bottom: 50px;
}

.section-three h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.plans{
    display: flex;
    justify-content: space-evenly;
}

.plan{
    text-align: center;
}


/* Section Four Styles */

.section-four{
    margin: 0px 50px;
    background-image: url('/images/flower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.section-four-info{
    background-image: linear-gradient(blue, transparent);
    padding: 25px;
}

.section-four-info h3{
    font-weight: 700;
    font-size: 40px;
    color: white;
}