@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Section One or Header Styles */

.section-one{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-color: blue;
    width: 100%;
    height: 808px;
    margin-bottom: 50px;
}

.section-one-info{
    color: white;
    text-align: right;
    padding: 150px 50px 150px 50%;
}

.section-one-info h1{
    font-size: 65px;
    font-weight: 700;
}

.white-btn{
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
}


/* Section Two Styles */

.section-two{
    margin: 0px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-two-image{
    max-width: 50%;
}

.section-two-image img{
    width: 100%;
}

.section-two-info{
    max-width: 50%;
}

.section-two-info h2{
    font-weight: 700;
    font-size: 40px;
}


/* Section Three Styles */

.section-three{
    margin: 0px 50px 50px 50px;
}

.section-three h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.plans{
    display: flex;
    justify-content: space-evenly;
}

.plan{
    text-align: center;
}


/* Section Four Styles */

.section-four{
    margin: 0px 50px 50px 50px;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-four-info{
    background-image: linear-gradient(to right,blue, transparent);
    padding: 25px;
}

.section-four-info h3{
    font-weight: 700;
    font-size: 40px;
    color: white;
}


/* Section Five Styles */

.section-five{
    margin: 0px 50px 50px 50px;
}

.section-five h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.focus-contents{
    display: flex;
    justify-content: space-evenly;
}

.focus-contents hr{
    border: 1px dotted royalblue;
    border-radius: 50%;
}

.focus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus h3{
    font-weight: 700;
    font-size: 25px;
    padding: 20px 0px;
}

.focus img{
    width: 100%;
}

.focus-odd{
    background-image: linear-gradient(to top,lightblue, transparent);
    border-bottom: 15px solid royalblue;
    margin: 0px 10px;
}

.focus-even{
    background-image: linear-gradient(to bottom,lightblue, transparent);
    border-top: 15px solid royalblue;
    margin: 0px 10px;
}


/* Section Six or Footer Styles */

.section-six{
    background-color: black;
    width: 100%;
    height: 577px;
}

.section-six-contents{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 50px;
    padding-top: 130px;
}

.footer-info{
    color: white;
    width: 50%;
}

.footer-info h3{
    font-weight: 700;
    font-size: 45px;
}

.footer-subscribe{
    width: 50%;
    color: white;
}

.footer-subscribe h4{
    font-weight: 600px;
    font-size: 25px;
}

.email{
    width: 325px;
    height: 64px;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

.blue-btn{
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #005FAC;
}